body {
    width: 850px;
    margin: 0 auto;
    font-family: 'Chivo', sans-serif;
    font-family: 'Archivo Black', sans-serif;
}

main {
    display: flex;
    height: 450px;
    background-image: url("nasa.jpg");
    margin-bottom: 20px;
    color: white;
    justify-content: center; 
    align-items: center;
    font-size: 40px;
}

section {
    display: flex;
    height: 324px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(224, 222, 222);
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;  
}

article {
    width: 270px;
    height: 374px;
    padding-top: 10px;
    text-align: left;
    padding: 0px;
}

ul {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 40px;
    padding-top: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    margin: 5px;
}

form {
    font-family: 'Open Sans Condensed', sans-serif;
}


button {
    padding: 5px 10px;
    margin-top: 5px;
    width: 25%;
    font-weight: bold;
    background-color: rgb(49, 51, 53);
    color: white;
}